[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
bandit = "*"
flake8 = "*"
mypy = "*"
black = "*"
coverage = "*"
wheel = "*"
isort = "*"

[packages]
apscheduler = "*"
prometheus_client = "*"
icmplib = "*"
requests = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
